.App {
  text-align: center;
  font-family: sans-serif;
}

.leaflet-container {
  height: 100vh;
}


.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #DB0253;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}

